//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------

$o-color-palettes: (
    (   // Palette 1
        'o-color-1':        #428bca,
        'o-color-2':        #23323b,
        'o-color-3':        #eceae4,
        'o-color-4':        #FFFFFF,
        'o-color-5':        #0F1C26, // Menu, Footer, Copyright bgcolor
        'o-cc1-text':       #333,
        'o-cc1-headings':   #f73b0a, // Main headings
        'o-cc5-headings':   #f73b0a, // Footer headings

        'menu':             5,
        'footer':           5,
        'copyright':        5,
    ),
);

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

$font-size-custom: 14;

$o-theme-h1-font-size-multiplier: (36 / $font-size-custom);
$o-theme-h2-font-size-multiplier: (30 / $font-size-custom);
$o-theme-h3-font-size-multiplier: (24 / $font-size-custom);
$o-theme-h4-font-size-multiplier: (18 / $font-size-custom);
$o-theme-h5-font-size-multiplier: (14 / $font-size-custom);
$o-theme-h6-font-size-multiplier: (12 / $font-size-custom);
$o-line-height-base: 1.1;
$o-theme-font-configs: (
    'Nunito': (
        'family': ('Nunito', sans-serif),
        'url': 'Nunito:300,300i,400,400i,700,700i',
    ),
    'Roboto': (
        'family': ('Roboto', sans-serif),
        'url': 'Roboto:300,300i,400,400i,700,700i',
    ),
    'Open Sans': (
        'family': ('Open Sans', sans-serif),
        'url': 'Open+Sans:300,300i,400,400i,700,700i',
    ),
    'Source Sans Pro': (
        'family': ('Source Sans Pro', sans-serif),
        'url': 'Source+Sans+Pro:300,300i,400,400i,700,700i',
    ),
);



//------------------------------------------------------------------------------
// Website customizations
//------------------------------------------------------------------------------

$o-website-values-palettes: (
    (
        'font':                     'Nunito',
//        'headings-font':            'Nunito',
//        'navbar-font':              'Nunito',
//        'buttons-font':             'Nunito',

        'font-size-base':           ($font-size-custom / 16) * 1rem,
        'header-font-size':         ($font-size-custom / 16) * 1rem,

        'btn-ripple':               true,
        'btn-primary-outline':      false,
        'btn-secondary-outline':    false,
        'btn-border-radius':        6px,
        'btn-font-size':            ($font-size-custom / 16) * 1rem,
        'btn-padding-x':            (12 / 16) * 1rem,
        'btn-padding-y':            (6 / 16) * 1rem,
        'btn-padding-y-lg':         (10 / 16) * 1rem,
    ),
);
