/*=============================================================
                    Theme Cavarosa
 ============================================================ */

h1,h2,h3,h4,p,a { font-family: 'Lato', sans-serif !important; }
a { text-decoration: none !important; }

#top_menu a {
    color: #fff;
}

#top_menu a:active, #top_menu a:focus, #top_menu a:hover {
    background-color: transparent;
}

#top_menu ul.dropdown-menu.js_usermenu {
    background-color: #222;
}

@media (min-width: 768px) {
    .navbar-brand.logo img {
        display: none;
    }
}
