.round-icon {
    background-color: rgba(44, 0, 30, 0.4);
    border-radius: 40px;
    width: 80px;
    height: 80px;
    margin: auto;
    overflow: hidden;
    color: #fff;
}
.round-icon:hover {
    background-color: rgba(44, 0, 30, 1);
    transition: all 0.4s ease-out;
}
.round-icon i {
    width: auto;
    height: auto;
}

.top-side-nav{
    position: fixed;
    right: 5px;
    z-index: 101;
}

.top-side-nav h4 { right: 100px; visibility:hidden; }

.top-side-nav:hover h4{ visibility:visible; opacity: 1; text-shadow: 0px 0px 2px #2C001E; color: #fff; }

.nav-pills > li {
    background-color: none;
    float: none;
    display: inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-pills {
    text-align: center;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #fff;
}

.reference .img-ref {
    max-height: 80px;
    margin: 16px auto;
}

.oe_img_bg { background-size: cover !important; }

