/*! Banner Block */

.banner_block_section .banner_block,
.banner_block_section .oe_img_bg {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner_block_section .banner_block:after,
.banner_block_section .oe_img_bg:after {
    padding-top: 75%;
    display: block;
    content: '';
}

.banner_block_section .banner_block_field{
    position: absolute;
    opacity: 0.5;
}

.banner_block_section .banner_block_field:hover{
    transition: all 0.3s ease-in;
    opacity: 1;
}

