.s_cubes .cube {
    min-height: 170px;
}

.s_cubes .cube-small, .s_cubes .cube-text {
    height: 257px;
}

.s_cubes .cube-big .cube-heading {
    position: relative;
    top: 20%;
}

.s_cubes .cube-big-bg{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 514px;
}

.s_cubes .cube-medium-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 257px;
}
