/* Image Gallery With Hover Text */

.hover-image {
    position: relative;
}

.hover-image-cover {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    position: absolute;
    background-color: #000;
}

.hover-image-cover:hover {
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
    padding-top: 23%;
    opacity: 0.7;
    transition: all 0.4s ease-in-out 0s;
}

.hover-image-cover a {
    color: #fff;
}

.hover-image > img {
    width: 100%;
}

.hover-text {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 1;
}

.hover-text > p {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 1.5em;
    font-family: 'Verdana';
}