    .button-images {
        width: 100%;
        margin: 75px auto;
    }

    .button-container {
        position: relative;
        text-align: center;
        padding: 0;
        border-radius:50%;
        overflow:hidden;

    }

    .button-container a:before{
        content: '';
        display: inline-block;
        height: 48%;
        /*
        vertical-align:middle;
        height: 100%;*/
      }


    .button-container a {
        transition: all 1s ease-out;
        background: rgba(88, 88, 88, 0.7);
        /*border-radius:50%;*/
        border: 0px 0px 50px 50px;
        vertical-align:middle;
        padding:5%;
        color: #FFFFFF;
        position:absolute;
        font-size: 1.125em;
        font-weight: 700;
        top: 50%;
        left:0;
        right:0;
        bottom:0;
        height: 50%;
        display:inline-block;
        text-decoration: none;
        text-transform:uppercase;
    }

    .button-container a:hover {
        background: none;
        border: none;
        opacity:0;
    }

    .button-container img{
        width:300px;
        height:250px;
        display:block;
    }


    /*Columns*/
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
        position: relative;
        margin-right: 4%;
        float: left;
        min-height: 1px;
        height: auto;
    }

    .one_fourth {
        width: 22%;
    }

    .three_fourth {
        width: 74%;
    }

    .one_fifth {
        width: 16.8%;
    }

    .two_fifth {
        width: 37.6%;
    }

    .three_fifth {
        width: 58.4%;
    }

    .four_fifth {
        width: 79.2%;
    }

    .one_sixth {
        width: 13.3333%;
    }

    .three_sixth {
        width: 47.9998%;
    }

    .five_sixth {
        width: 82.6665%;
    }

    .last {
        margin-right: 0;
        clear: right;
    }

    .clearboth {
        clear: both;
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        width: 100%;
    }

    .spacer {
        height: 15px;
    }

    .one_half .one_half {
        margin-right: 8.3333%;
        width: 45.8333%;
    }

    .one_half .one_third {
        margin-right: 8.3333%;
        width: 27.7778%;
    }

    .one_half .two_third {
        margin-right: 8.3333%;
        width: 63.8889%;
    }

    .two_third .one_third {
        margin-right: 6.1224%;
        width: 29.2517%;
    }

    .two_third .two_third {
        margin-right: 6.1224%;
        width: 64.6258%;
    }

    .two_third .one_fourth {
        margin-right: 6.1224%;
        width: 20.4082%;
    }

    .one_half, .two_fourth {
        width: 48%;
    }

    .one_third, .two_sixth {
        width: 30.6666%;
    }

    .two_third, .four_sixth {
        width: 65.3332%;
    }

    .round-icon {
        background-color: rgba(0, 0, 255, 1);
        border-radius: 100px;
        width: 200px;
        height: 200px;
        margin: auto;
        overflow: hidden;
    }

    .round-icon-transparent {
        background-color: transparent;
        border-radius: 100px;
        border: 0px solid;
        width: 200px;
        height: 200px;
        margin: auto;
        overflow: hidden;
        opacity: 0.8;
    }

    .round-icon i, .round-icon-transparent i {
        width:200px;
        height: 200px;
        color: #fff;
    }

    .round-icon:hover {
        background-color: rgba(0, 255, 0, 0.4);
        transition: all 0.7s ease-out;
    }

    .round-icon-transparent:hover {
        border: 1px solid;
        opacity: 1;
        transition: all 0.3s ease-out;
    }
