/* Winion */

.hover {
    position: relative;
    overflow: hidden;
}

.hover h2 {
    transition: all 0.7s ease-in;
    color: #fff !important;
    width: 100%;
    height: 30%;
    padding-top: 1.3%;
    text-align: center;
    position: absolute;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.hover h3 {
    transition: all 0.7s ease-in;
    color: #fff !important;
    width: 100%;
    height: 30%;
    padding-top: 2.7%;
    text-align: center;
    position: absolute;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.hover h4 {
    transition: all 0.7s ease-in;
    color: #fff !important;
    width: 100%;
    height: 30%;
    padding-top: 3.3%;
    text-align: center;
    position: absolute;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.hover h5 {
    transition: all 0.7s ease-in;
    color: #fff !important;
    width: 100%;
    height: 30%;
    padding-top: 1.5%;
    text-align: center;
    position: absolute;
    top: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.hover:hover h2, .hover:hover h3, .hover:hover h4, .hover:hover h5 {
    opacity: 1;
}

/* general icon color and width */
.winion-icon-small {
    color: #fff;
    width: 98px;
}

.winion-icon-medium {
    color: #fff;
    width: 168px;
}

/* center the icon in block in screens up to 4Kpx in width */
@media screen and (max-width: 7680px) {
    .winion-icon-small {
        margin-top: 20%;
    }
    .winion-icon-medium {
        margin-top: 25%;
    }
}

/* center the icon in block in screens up to 1200px in width */
@media screen and (max-width: 1200px) {
    .winion-icon-small {
        margin-top: 25%;
    }
    .winion-icon-medium {
        margin-top: 31%;
    }
}

/* center the icon in block in screens up to 991px in width */
@media screen and (max-width: 991px) {
    .winion-icon-small {
        margin-top: 30%;
    }
    .winion-icon-medium {
        margin-top: 37%;
    }
}

/* center the icon in block in screens up to 767px in width */
@media screen and (max-width: 767px) {
    .winion-icon-small {
        margin-top: 5%;
    }
    .winion-icon-medium {
        margin-top: 13%;
    }
}

/* center the icon in block in screens up to 640px in width */
@media screen and (max-width: 640px) {
    .winion-icon-small {
        margin-top: 6%;
    }
    .winion-icon-medium {
        margin-top: 15%;
    }
}

/* center the icon in block in screens up to 480px in width */
@media screen and (max-width: 480px) {
    .winion-icon-small {
        margin-top: 8%;
    }
    .winion-icon-medium {
        margin-top: 20.5%;
    }
}

/* center the icon in block in screens up to 360px in width */
@media screen and (max-width: 360px) {
    .winion-icon-small {
        margin-top: 10%;
    }
    .winion-icon-medium {
        margin-top: 27%;
    }
}

/* center the icon in block in screens up to 320px in width */
@media screen and (max-width: 320px) {
    .winion-icon-small {
        margin-top: 11.5%;
    }
    .winion-icon-medium {
        margin-top: 28%;
    }
}