/*=============================================================
                       Middle Logo
 ============================================================ */

.ml-body {
    background: #E6E6E6;
    font-family: 'Ubuntu';
    list-style: none;
}

/* MENU */
#ml-menu {
    z-index: 1;
    margin-top: 50px;
    background: none;
    border-color: rgba(255, 255, 255, .4);
    width: 100%;
}

#ml-menu-bar {

}

/* COMPANY LOGO */
#ml-menu > div > div > a {

}

#ml-logo {
    width: 100%;
}

/* MENU TEXT */
#ml-menu > div > div > ul > li > a {
    background-color: none;
    color: #343434;
}

#menu-leftside {
    padding-top: 12%;
}

#menu-leftside > li > a > span {
    font-size: 120%;
}

#menu-rightside {
    padding-top: 12%;
}

#menu-rightside > li > a > span {
    font-size: 120%;
}

.navbar {
    border: 0px;
}

.navbar-inverse {
    border-color: none;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #50A7D2;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #50A7D2;
    background: none;
}

/* FOOTER STYLE*/
.ml-footer {

}


