/* CAMCAR */

.lsmb-body {
    background: url('/theme_teamdoc/static/src/img/camcar/bg.jpg');
    list-style: none;
    font-family: 'Bowlby One SC', cursive;
}

/* MENU */
.lsmb-navbar {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    background: none;
    position: fixed;
    left: 20px;
    bottom: 100px;
}

#lsmb-menu-bar > ul > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    text-shadow: 0px 0px 3px #fff;
}

/* STYLE WHEN MOUSE HOVER */
#lsmb-menu-bar > ul > li > a:hover,
#lsmb-menu-bar > ul > li > a:focus {
    color: #D31940;
    background: none;
}

/* STYLE WHEN PAGE ACTIVE */
#lsmb-menu-bar > ul > .active > a {
    color: #D31940;
    background:none;
    text-shadow: 0px 0px 3px #fff;
}

.navbar {
    border: 0px;
}

.navbar-nav {
    border-color: none;
}

p{
    color:#e6e6e6;
}

/* FOOTER STYLE*/
.lsmb-footer > div > div > li > a{
    color:#fff;
}

#wrapwrap > footer{
    height:20px;
    background:#888;
    opacity:0.8;
}


