/*=============================================================
                       CanceriSverige
 ============================================================ */

.bl-body {
    background: #EDEEF0;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Ubuntu';
    font-size: 1.2em;
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bl-menu-bar > div > ul > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

#bl-menu-bar > div {
    width: 1024px;
    margin: auto;
}

/* menu width depends on the width of the logo */
#bl-menu-bar > div > ul{
    padding-left: 5%;
    
}

.bl-navbar-fixed-top {
    font-family: 'Ubuntu';
    font-size: 1.2em;
    z-index: 99;
    margin-top: -302px;
    position: fixed;
    width: 100%;
    background: #EDEEF0;
}
.nav-justified{
    width:95%;
}


/* COMPANY LOGO */
#bl-logo {
    display:block;
    margin:auto;
    width:1000px;
}

/* MENU TEXT */
#bl-menu-bar > div > ul > li > a {
    color: #343434;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar > div > ul > li > a:hover,
#bl-menu-bar > div > ul > li > a:focus {
    color: #EDEEF0;
    background-color: #A9BBC5;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar > div > ul > .active > a {
    color: #EDEEF0;
    background-color: #A9BBC5;
}

.navbar {
    border: 0px;
}

.navbar-nav {
    border-color: none;
}

#bl-menu-bar {
    width: 100%;
}

#bl-menu-bar > .row {
    width: 100%;
}

#banner_block_content {
    height: 320px;
}

.parallax {
    height: 180px;
}

/* FOOTER STYLE*/
.bl-footer {
    background-color: #385965;
    color: #fff;
    list-style: none;
}
