/*
fkankan
*/

.bl2-body {
	background: #fff;
	list-style: none;
}

/* MENU */
.bl2-navbar {
	font-family: "Indie Flower";
	font-size: 1.2em;
	background: none;
	width: 100%;
}

#bl2-menu-bar &gt; div &gt; ul &gt; li &gt; a {
	padding-top: 25px;
	padding-bottom: 25px;
}

#bl2-menu-bar &gt; div {
	width: 1024px;
	margin: auto;
}

.bl2-navbar-fixed-top {
	transition: all 0.5s ease-in 0s;
	font-family: "Indie Flower";
	font-size: 1.2em;
	z-index: 99;
	top: 0px;
	position: fixed;
	width: 100%;
	background: #fff;
	box-shadow: 0px 0px 20px #333;
}

#top_menu {
	max-width: 905px;
	margin: auto;
}

#top_menu > li > a {
	padding: 10px 0px 10px 0px;
}

/* COMPANY LOGO */
#logo-box-2 {
	padding: 0px;
}

#bl2-logo {
	width: 30%;
	display:block;
	margin:auto;
	padding-bottom:3%;
	padding-top:2%;
}

/* MENU TEXT */
#bl2-menu-bar &gt; ul &gt; li &gt; a {
	color: #333;
}

/* STYLE WHEN MOUSE HOVER */
#bl2-menu-bar &gt; ul &gt; li &gt; a:hover,
#bl2-menu-bar &gt; ul &gt; li &gt; a:focus {
	color: #917FE3;
	background-color: #D0E27E;
}

/* STYLE WHEN PAGE ACTIVE */
#bl2-menu-bar &gt; ul &gt; .active &gt; a {
	color: #917FE3;
	background-color: #D0E27E
}

.navbar-toggle {
	border-color: #D0E27E;
	background-color: #e6e6e6;
}

.navbar-toggle .icon-bar{
	background-color: #917FE3;
}

/* FOOTER STYLE*/
.bl2-footer {

}

#intro-board {
	background: #F4FFBD;
	width:100%;
	max-width: 904px;
	margin-bottom:4px;
	box-shadow: 0px 0px 15px #343434;
}

#info-board {
	background: #F4FFBD;
	width:100%;
	max-width: 904px;
	margin:auto;
	box-shadow: 0px 0px 15px #343434;
}

.panel {
	border-color: #396;
}

.panel-heading {
	background-color: #396;
	border-color: #396;
}

.panel-body {
	background-color: #FAFAFA;
	border-color: #396;
}

#kvackar {

}

#Matsedel {

}

.table {
	font-size: 0.7em;
	margin-bottom: 0;
}

#aktuellt {

}

#footer_spring {
	position:relative;
	background:url(/theme_teamdoc/static/src/img/fkankan/spring/Spring_Footer.jpg) top center;
	border: 0px solid red;
	color: #666;
	font-size: 1.1em;
	height:151px;
	width:100%;
	padding: 0 0 0 0;
	text-align:center;
	vertical-align:bottom;
}

#footer_summer {
	position:relative;
	background:url(/theme_teamdoc/static/src/img/fkankan/spring/Spring_Footer.jpg) top center;
	border: 0px solid red;
	color: #666;
	font-size: 1.1em;
	height:151px;
	width:100%;
	padding: 0 0 0 0;
	text-align:center;
	vertical-align:bottom;
}

#footer_autumn {
	position:relative;
	background:url(/theme_teamdoc/static/src/img/fkankan/autumn/footer_autumn.jpg) top center;
	border: 0px solid red;
	color: #666;
	font-size: 1.1em;
	height:151px;
	width:100%;
	padding: 0 0 0 0;
	text-align:center;
	vertical-align:bottom;
}

#footer_winter {
	position:relative;
	background:url(/theme_teamdoc/static/src/img/fkankan/winter/footer_vinter.jpg) top center;
	border: 0px solid red;
	color: #666;
	font-size: 1.1em;
	height:136px;
	width:100%;
	padding: 0 0 0 0;
	text-align:center;
	vertical-align:bottom;
}

#spring_effect_1 {
	background:url(/theme_teamdoc/static/src/img/fkankan/spring/vaarblommor.png);
	z-index: 98;
	position:absolute;
	top: 550px;
	left: 12%;
	width: 155px;
	height: 163px;
}

#spring_effect_2 {
	background:url(/theme_teamdoc/static/src/img/fkankan/spring/fluga_1.gif);
	z-index: 99;
	position:absolute;
	top: 600px;
	left: 14%;
	width: 56px;
	height: 50px;
}

#spring_effect_3 {
	background:url(/theme_teamdoc/static/src/img/fkankan/spring/fjarilar.png);
	z-index: 99;
	position:absolute;
	top: 500px;
	right: 8%;
	width: 182px;
	height: 470px;
}

#summer_effect_1 {
	background:url(/theme_teamdoc/static/src/img/fkankan/summer/blomma_1.png);
	z-index: 98;
	position: absolute;
	top: 550px;
	left: 16%;
	width: 118px;
	height: 150px;
}

#summer_effect_2 {
	background:url(/theme_teamdoc/static/src/img/fkankan/summer/spindel.gif);
	z-index: 99;
	position: absolute;
	top: 800px;
	left: 18%;
	width: 30px;
	height: 127px;
}

#summer_effect_3 {
	background:url(/theme_teamdoc/static/src/img/fkankan/summer/blomma_1.png);
	z-index: 99;
	position: absolute;
	top: 1100px;
	right: 16%;
	width: 118px;
	height: 150px;
}

#autumn_effect_1 {
	background:url(/theme_teamdoc/static/src/img/fkankan/autumn/Host_pic.png);
	z-index: 99;
	position: absolute;
	top: 500px;
	left: 12%;
	width: 155px;
	height: 149px;
}

#autumn_effect_2 {
	background:url(/theme_teamdoc/static/src/img/fkankan/autumn/Leaves.png);
	z-index: 98;
	position: absolute;
	top: 550px;
	left: 20%;
	width: 140px;
	height: 147px;
}

#autumn_effect_3 {
	background:url(/theme_teamdoc/static/src/img/fkankan/autumn/fallingleaves.png);
	z-index: 99;
	position: absolute;
	top: 700px;
	right: 8%;
	width: 182px;
	height: 470px;
}

#winter_effect_1 {
	background:url(/theme_teamdoc/static/src/img/fkankan/winter/snoflingor.png);
	z-index: 99;
	position: absolute;
	top: 500px;
	left: 12%;
	width: 134px;
	height: 159px;
}

#winter_effect_2 {
	background:url(/theme_teamdoc/static/src/img/fkankan/winter/snoflingor_1.png);
	z-index: 98;
	position: absolute;
	top: 550px;
	left: 20%;
	width: 134px;
	height: 159px;
}

#winter_effect_3 {
	background:url(/theme_teamdoc/static/src/img/fkankan/winter/snoflingor.png);
	z-index: 99;
	position: absolute;
	top: 1000px;
	right: 8%;
	width: 134px;
	height: 159px;
}