/*=============================================================
                       Hudvårdsrummet
 ============================================================ */

.bl-body {
    background: #fff;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 0.95em;
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bl-menu-bar > ul > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}

#bl-menu-bar > div {
    width: 1024px;
    margin: auto;
}

/* menu width depends on the width of the logo */
#bl-menu-bar > ul > li > a{
    padding-left: 0%;
    padding-right: 0%;
}

.bl-navbar-fixed-top {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 0.95em;
    z-index: 99;
    margin-top: -216px;
    position: fixed;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 20px #B9A55A;
}

/* COMPANY LOGO */
#bl-logo {
    width: 100%;
    display:block;
    margin:auto;
}

/* MENU TEXT */
#bl-menu-bar > ul > li > a{
    color: #343434;
    padding-left: 0px;
    padding-right: 0px;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar > ul > li > a:hover,
#bl-menu-bar > ul > li > a:focus {
    color: #B9A55A;
    background-color: #EEE7D0;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar > div > ul > .active > a {
    color: #B9A55A;
    background-color: #EEE7D0;
}

#bl-menu-bar {
    width: 100%;
}

#bl-menu-bar > .row {
    width: 100%;
}

.block {
    padding-left: 0px;
    padding-right: 0px;
}

/* FOOTER STYLE*/
.bl-footer {
    background-color: #EEE7D0;
}

.bl-footer a {
    color: #B9A55A;
}