/*=============================================================
                       Block Logo
 ============================================================ */

.bl-body {
    background: #fff;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Homenaje', sans-serif;
    font-size: 1.5em;
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bl-menu-bar > div > ul > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
}

#bl-menu-bar > div {
    width: 1024px;
    margin: auto;
}

.bl-navbar-fixed-top {
    font-family: 'Homenaje', sans-serif;
    font-size: 1.3em;
    z-index: 99;
    margin-top: -260px;
    position: fixed;
    width: 100%;
    background: #e1e1e1;
    height:76px;
}

/* COMPANY LOGO */
#bl-logo {
    width: 100%;
    display:block;
    margin:auto;
    border-radius: 10px;
    
}

/* MENU TEXT */
#bl-menu-bar > div > ul > li > a {
    color: #343434;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar > div > ul > li > a:hover,
#bl-menu-bar > div > ul > li > a:focus {
    color: #005E8C;
    background-color: #FAFAFA;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar > div > ul > .active > a {
    color: #005E8C;
    background-color: #FAFAFA;
}

.navbar {
    border: 0px;
}

.navbar-nav {
    border-color: none;
}

#bl-menu-bar {
    width: 100%;
}

#bl-menu-bar > .row {
    width: 100%;
}



/* FOOTER STYLE*/
.bl-footer {
    background:#e1e1e1;
}
