/*=============================================================
                       Lillahembageriet
 ============================================================ */

.bl-body {
    background: #fff;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    background: none;
    width: 100%;
}

#bl-menu {
    background-color: #e6e6e6;
    max-width: 1110px;
    margin: auto;
}

#bl-menu > div {
    width: 100%;
    padding: 0px;
}

#bl-menu-bar {
    padding: 0px;
}

#bl-menu-bar &gt; div &gt; ul &gt; li &gt; a {
    padding-top: 25px;
    padding-bottom: 25px;
}

#bl-menu-bar &gt; div {
    width: 1024px;
    margin: auto;
}

/* COMPANY LOGO */
#logo-box {
    padding: 0px;
}

#bl-logo {
    width: 100%;
    max-width: 1110px;
    display: block;
    margin: auto;
}

/* MENU TEXT */
#bl-menu-bar &gt; ul &gt; li &gt; a {
    color: #520403;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar &gt; ul &gt; li &gt; a:hover,
#bl-menu-bar &gt; ul &gt; li &gt; a:focus {
    color: #fff;
    background-color: #520403;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar &gt; ul &gt; .active &gt; a {
    color: #fff;
    background-color: #520403;
}

.parallax {
    height: 200px;
    margin: auto;
    max-width: 1110px;
}

#banner_block_section {
    max-height: 250px;
}

/* FOOTER STYLE*/
.bl-footer {
    box-shadow: 0px 0px 20px #520403;
}