#main_body{
    padding-top: 350px;
}

#news_box{
    box-shadow:8px 8px 5px #888888; 
    background: rgba(255, 255, 255, 0.5);
}

#left_menu{
    box-shadow:8px 8px 5px #888888; 
    background: rgba(255, 255, 255, 0.5);
}

#left_navbar >ul>li>a>span{
    color: black;
    font-size:12px;
}

#left_navbar {
     padding-left:0px;
     padding-right:20px;
     margin-left:-15px;
}

#menu_button >button>span{
    background:black;
}
#menu_button >button{
    border-color: black;
}

.navbar.navbar-static-top{
    display:none;
}


