/*!
Masterari
 */

.bl-body {
    font-family: "Ubuntu";
    background-color: #A4BEDF;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bl-menu-bar > div > ul > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}

#bl-menu-bar > div {
    width: 1024px;
    margin: auto;
}

.bl-navbar-fixed-top {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    z-index: 99;
    margin-top: -396px;
    position: fixed;
    width: 100%;
    background: #A4BEDF;
    box-shadow: 0px 0px 10px #343434;
}

/* COMPANY LOGO */
#bl-logo {
    width: 100%;
    display:block;
    margin:auto;
}

/* MENU TEXT */
#bl-menu-bar > div > ul > li > a {
    color: #002047;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar > div > ul > li > a:hover,
#bl-menu-bar > div > ul > li > a:focus {
    color: #fff;
    background-color: #004B97;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar > div > ul > .active > a {
    color: #fff;
    background-color: #004B97;
}

.navbar {
    border: 0px;
}

.navbar-nav {
    border-color: none;
}

#bl-menu-bar {
    width: 100%;
}

#bl-menu-bar > .row {
    width: 100%;
}

.item > img {
    width: 200%;
    height: 200%;
}

/* FOOTER STYLE*/
.bl-footer {
    background-color: #002047;
}