/*!
Trivsamma hem
 */

.bl-body {
    background-image: url('/theme_teamdoc/static/src/img/trivsamma_hem/1289880_52244146.jpg');
    background-size: cover;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    background: none;
    width: 100%;
}

#bl-menu-bar {
    max-width: 1110px;
    padding: 0px;
}

#bl-menu-bar &gt; div &gt; ul &gt; li &gt; a {
    padding-top: 25px;
    padding-bottom: 25px;
}

#bl-menu-bar &gt; div {
    width: 1024px;
    margin: auto;
}

.bl-navbar-fixed-top {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    z-index: 99;
    margin-top: -216px;
    position: fixed;
    width: 100%;
    background: #e1e1e1;
    box-shadow: 0px 0px 20px #333;
}

/* COMPANY LOGO */
#logo-box {
    padding: 32px;
}

#bl-logo {
    width: 200px;
    margin: auto;
    display:block;
}

/* MENU TEXT */
#bl-menu-bar &gt; ul &gt; li &gt; a {
    color: #333;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar &gt; ul &gt; li &gt; a:hover,
#bl-menu-bar &gt; ul &gt; li &gt; a:focus {
    color: #71DB00;
    background-color: #333;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar &gt; ul &gt; .active &gt; a {
    color: #71DB00;
    background-color: #333;
}

#myCarousel0, .container {
    max-width: 1110px;
}

.carousel-inner img {
    width: 100%;
}

a {
    color: #71DB00;
}

/* FOOTER STYLE*/
.bl-footer {
    background-color: #fff;
}