/*=============================================================
                       Block Logo
 ============================================================ */

.bl-body {
    background: #fff;
    list-style: none;
}

/* MENU */
.bl-navbar {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    background: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bl-menu-bar > div > ul > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Roboto Slab', serif;
}

#bl-menu-bar > div {
    width: 1024px;
    margin: auto;
}

/* menu width depends on the width of the logo */
/*
#bl-menu-bar > div > ul{
    padding-left: 25%;
}
*/

.bl-navbar-fixed-top {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    z-index: 99;
    margin-top: -232px;
    position: fixed;
    width: 100%;
    background: #fff;
}

/* COMPANY LOGO */
#bl-logo {
    width: 100%;
    display:block;
    margin:auto;
}

/* MENU TEXT */
#bl-menu-bar > div > ul > li > a {
    color: #343434;
}

/* STYLE WHEN MOUSE HOVER */
#bl-menu-bar > div > ul > li > a:hover,
#bl-menu-bar > div > ul > li > a:focus {
    color: #E1A934;
    background: #FBFBFB;
}

/* STYLE WHEN PAGE ACTIVE */
#bl-menu-bar > div > ul > .active > a {
    color: #E1A934;
    background-color: #F6F6F6;
}

.navbar {
    border: 0px;
}

.navbar-nav {
    border-color: none;
}

#bl-menu-bar {
    width: 100%;
}

#bl-menu-bar > .row {
    width: 100%;
}

.parallax{   
    filter: blur(5px) brightness(0.4);
    // Browser Specific
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

#ekologisk{
     filter: blur(1px) brightness(0.6);
    // Browser Specific
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
}

h2,h3,h5{
    color:#fff;
}

/* FOOTER STYLE*/
.bl-footer {

}
